@tailwind base;
@tailwind components;
@tailwind utilities;

.blog_1ri {
    margin-bottom: 40px;
  }
  
  .bg-transparent {
    background-color: transparent;
}
.border-none {
  border: none;
  outline: none;
}

.dark-form {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.dark-form input,
.dark-form textarea {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}